<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Test">
    <test name="Login">
        <classes>
            <class name="placelab.tests.LoginTest">
            </class>
            <class name="placelab.tests.NoPasswordTest">
            </class>
            <class name="placelab.tests.NoUsernameTest">
            </class>
            <class name="placelab.tests.NoUsernameNoPasswordTest">
            </class>
            <class name="placelab.tests.WrongPasswordTest">
            </class>
            <class name="placelab.tests.WrongUsernameTest">
            </class>
            <class name="placelab.tests.WrongUsernameWrongPasswordTest">
            </class>
            <class name="placelab.tests.LoginWithEnterKey">
            </class>
            <class name="placelab.tests.ValidatePageElements">
            </class>
            <class name="placelab.tests.ForgotPasswordTest">
            </class>
            <class name="placelab.tests.TermsOfUseTest">
            </class>
        </classes>
    </test>
</suite>